/dist
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.index
/vendor
.env
.env.cypress
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/images
/.idea
/.vagrant
/nbproject
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
error.log
output.txt
/.vscode
.php_cs.cache
coverage.xml
/coverage

public/mix-manifest.json
